<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creá tu cuenta</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo-busqueda-cuotas">
        <div class="logo-busqueda">
          <img
            class="logo"
            src="../images/logo-mercado-liebre.svg"
            alt="Logo de Mercado Liebre"
          />
          <div class="busqueda">
            <input
              class="texto-busqueda"
              type="text"
              name="textobusqueda"
              id="textobusqueda"
              placeholder="Buscar productos, marcas..."
            />
            <i class="fas fa-search icono-lupa"> </i>
          </div>
        </div>
        <div class="cuotas">
          <i class="fas fa-hand-holding-usd"> </i>
          <p class="texto-cuotas">Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
      </div>

      <div class="contnavbar">
        <ul class="navbar1">
          <li class="lista1"><a class="link" href="ofertas">Ofertas </a></li>
          <li class="lista1">
            <a class="link" href="tiendasoficiales">Tiendas Oficiales</a>
          </li>
          <li class="lista1"><a class="link" href="vender">Vender </a></li>
          <li class="lista1"><a class="link" href="ayuda">Ayuda </a></li>
        </ul>
        <div></div>
        <ul class="navbar2">
          <li class="lista2">
            <a class="link" href="register">
              Creá tu cuenta <i class="far fa-id-card"></i>
            </a>
          </li>
          <li class="lista2">
            <a class="link" href="login">
              Ingresá <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <li class="lista2">
            <a class="link" href="miscompras">
              Mis compras <i class="fas fa-shopping-basket"></i>
            </a>
          </li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </header>
    <main class="formularios">
      <h1 class="titulo-form">Creá tu cuenta</h1>
      <form action="/registro" method="POST">
        <div class="campo">
          <input
            class="limpiar-form-navegador"
            type="text"
            name="nombreyapellido"
            id="nombreyapellido"
            pattern="[a-zA-Z\s]{2,}$"
            title="Ingresa tu Nombre y Apellido completo"
            placeholder="Nombre y Apellido"
            required
          />
        </div>
        <div class="campo">
          <input
            class="limpiar-form-navegador"
            type="text"
            name="nombreusuario"
            id="nombreusuario"
            pattern="[a-zA-Z0-9_]{4,15}$"
            title="Ingresa un Nombre de Usuario correcto"
            placeholder="Nombre de Usuario"
            required
          />
        </div>
        <div class="campo camposdobles">
          <label for="nacimiento">Fecha de nacimiento</label>
          <input
            class="limpiar-form-navegador"
            type="date"
            name="nacimiento"
            id="nacimiento"
            required
          />
        </div>
        <div class="campo">
          <input
            class="limpiar-form-navegador"
            type="text"
            name="domicilio"
            id="domicilio"
            pattern="[a-zA-Z0-9._-/s]{4,50}$"
            title="Ingresa una dirección correcta"
            placeholder="Domicilio"
            required
          />
        </div>
        <div class="campo contenedor-perfilconlabel">
          <label for="perfil">Perfil del usuario</label>
          <section class="sel-perfil">
            <div>
              <input
                class="limpiar-form-navegador"
                type="radio"
                name="perfil"
                value="comprar"
                id="perfil-comprador"
                checked
              />
              <label for="perfil-comprador">Comprar</label>
            </div>
            <div>
              <input
                class="limpiar-form-navegador"
                type="radio"
                name="perfil"
                value="vender"
                id="perfil-vendedor"
              />
              <label for="perfil-vendedor">Vender</label>
            </div>
          </section>
        </div>
        <div class="campo">
          <label for="categoria">
            Categorías de interés: (puedes elegir más de una)
          </label>
          <div class="campo lista-categorias">
            <label>
              <input
                class="limpiar-form-navegador"
                type="checkbox"
                name="categoria"
                value="Electro"
              />
              Electro
            </label>
            <label>
              <input
                class="limpiar-form-navegador"
                type="checkbox"
                name="categoria"
                value="Moda"
              />
              Moda
            </label>
            <label>
              <input
                class="limpiar-form-navegador"
                type="checkbox"
                name="categoria"
                value="Hogar"
              />
              Hogar
            </label>
            <label>
              <input
                class="limpiar-form-navegador"
                type="checkbox"
                name="categoria"
                value="Juguetería"
              />
              Juguetería
            </label>
            <label>
              <input
                class="limpiar-form-navegador"
                type="checkbox"
                name="categoria"
                value="Vida Sana"
              />
              Vida Sana
            </label>
          </div>
        </div>
        <div class="campo camposdobles">
          <label for="foto"> Foto de usuario</label>
          <input
            class="limpiar-form-navegador"
            type="file"
            name="foto"
            accept=".jpg,.png"
            required
          />
        </div>
        <div class="campo">
          <input
            class="limpiar-form-navegador"
            type="email"
            name="email"
            id="email"
            pattern="[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="El email debe seguir el siguiente formato: usuario@dominio.com"
            placeholder="Email"
            required
          />
        </div>
        <div class="campo">
          <input
            class="limpiar-form-navegador"
            type="password"
            name="password"
            id="password"
            pattern="[.]{8,20}$"
            title="Ingresa una contraseña correcta"
            placeholder="Contraseña"
            required
          />
        </div>
        <div class="campo">
          <input
            class="limpiar-form-navegador"
            type="password"
            name="confirmarpasspass"
            id="confirmarpass"
            pattern="[.]{8,20}$"
            title="Ingresa una contraseña correcta"
            placeholder="Confirmar contraseña"
            required
          />
        </div>
        <div class="contenedor-botones">
          <a class="limpiar-form-navegador botones" href="/">Enviar</a>
          <button class="limpiar-form-navegador botones" type="reset">
            Borrar
          </button>
        </div>
      </form>
    </main>
    <footer>
      <section>
        <br />
        <div class="iconfoot"><i class="fas fa-credit-card"></i></div>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <div class="iconfoot"><i class="fas fa-gift"></i></div>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <div class="iconfoot"><i class="fas fa-user-shield"></i></div>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <br /><br />
      <section>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
      </section>
    </footer>
  </body>
</html>
